.paper-container {
  padding: 32px;
  margin-top: 24px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.page-title {
  text-align: center;
  margin-bottom: 24px;
}

.api-error {
  margin-top: 16px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #ffebee;
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #f44336;
  color: #d32f2f;
  text-align: center;
}

